*{
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

html{
	font-size: 62.5%;
}

body{
	background-image: url(../img/line.jpg);
	background-repeat: repeat;
}

main{
	background-color: #95a68a;
	margin: 10px;
	padding: 10px;
}

.img1{
	height: 400px;
}

.textcenter{
	text-align: center;
}

nav{
	background-color: #f2c48d;
	padding: 10px 20px;
}

	nav a{
		text-decoration: none;
	}

	nav ul{
	list-style: none;
	display: inline-block;
}

		nav ul li{
		font-size: 2rem;
		display: inline-block;
		margin-right: 20px;
	}

		nav ul li a{
			text-decoration: none;
			color: black;
			font-family: arial, sans-serif;
		}

		nav ul li a:hover{
			font-weight: 600;
			color: black;
		}

h1{
	font-size: 4rem;
}

h2{
	font-size: 3rem;
}

#contacto{
	font-size: 1.6rem;
}

.pie{
	padding: 10px 20px;
	background-color: #f2c48d;
}

.pie__icon--sm{
	width: 30px;
}

.pie__titulo--md{
	font-size: 3rem;
}

.footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.off{
	font-size: 2rem;
}

.promociones{
	width: 1000px;
	margin-left: 230px;
	padding: 20px;
	border-style: ridge;
	border-color: #d79d59;
	border-width: 10px;
}

.principal{
	border-style: ridge;
	border-color: #d79d59;
	border-width: 20px;
}

main div{
	display: inline-block;
	margin: 0;
	padding: 0;
}

.producto__img1--md{
	width: 200px;
	height: 200px;
}

.producto__img2--md{
	width: 200px;
	height: 200px;
}

.producto__img3--md{
	width: 200px;
	height: 200px;
}

.producto__platos--md{
	font-size: 1.5rem;
	font-weight: 600;
	padding-top: 10px;
}

.producto__manteles--md{
	font-size: 1.5rem;
	font-weight: 600;
	padding-top: 10px;
}

.producto__servilletas--md{
	font-size: 1.5rem;
	font-weight: 600;
	padding-top: 10px;
}

.nosotros{
	border-style: ridge;
	border-width: 10px;
	border-color: #d79d59;
	margin-right: 200px;
	margin-left: 200px;
}

.nosotros__hona--xl{
	font-size: 2rem;
	margin: 20px;
	padding: 20px;
}

.item-2{
	text-align: right;
	margin-bottom: 10px;
}

.contenedor{
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

.item-3{
	grid-column: 1 / 3;
}

body{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10vh 40vh 40 vh 10vh;
	grid-template-areas: "nav" "main" "main" "footer";
}

@media only screen and (min-width: 320xp){
	body{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 10vh 40vh 40vh 10vh;
		grid-template-areas: "nav nav" "main main" "main main" "footer footer";
	}
}