@import url("https://fonts.googleapis.com/css2? familia = Raleway: peso @ 400; 600; 700 & display=swap");
* {
  padding: 0;
  margin: 0; }

nav .barra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  nav .barra .item-1 {
    padding: 10px 0px; }

nav {
  background-color: #f2c48d;
  background: linear-gradient(to top, transparent, #f2c48d);
  padding: 10px 15px; }
  nav ul {
    list-style: none;
    display: inline-block; }
    nav ul li {
      font-size: 1rem;
      display: inline-block;
      margin-right: 20px; }
      nav ul li a {
        text-decoration: none;
        color: black;
        font-family: "Raleway", sans-serif; }
        nav ul li a:hover {
          font-weight: 600;
          color: black; }

nav header {
  width: 100%; }
  nav header img {
    height: 450px; }

footer {
  background-color: #f2c48d;
  text-decoration: none; }
  footer .final {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .final .footer-1 {
      padding: 15px 0px; }
      footer .final .footer-1 .pie__icon--sm {
        width: 30px;
        margin-right: 15px; }

footer .footer-2 .pie__icon--sm {
  width: 30px;
  margin-right: 15px; }

main {
  background-color: rgba(109, 130, 63, 0.7); }
  main h1 {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: 600;
    padding-top: 15px; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 20px; }
  .formulario .nombre, .formulario .mail, .formulario .mensaje {
    margin: 10px;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem; }

.formulario .mensaje {
  display: flex;
  flex-direction: column; }
  .formulario .mensaje label {
    padding-top: 0px;
    padding-bottom: 10px; }

.formulario .boton {
  display: flex;
  justify-content: center; }
  .formulario .boton button {
    background-color: #f2c48d;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
    color: black; }
    .formulario .boton button:hover {
      background-color: #d79d59; }

main {
  background-color: rgba(109, 130, 63, 0.7); }
  main h1 {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center; }

main .producto-prin {
  padding: 10px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1rem; }

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px; }
  .contenedor h2 {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding: 10px; }

.contenedor a {
  display: flex;
  justify-content: center;
  background-color: #f2c48d;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  border: none;
  color: black; }
  .contenedor a:hover {
    background-color: #d79d59; }

main {
  background-color: rgba(109, 130, 63, 0.7); }
  main h1 {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: 600;
    padding-top: 15px;
    padding-top: 15px;
    text-align: center; }

main p {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 10px;
  padding: 10px; }

main .promociones {
  display: flex;
  justify-content: center;
  padding: 20px; }
  main .promociones img {
    height: 500px;
    border-style: ridge;
    border-color: #d79d59;
    border-width: 20px; }
    main .promociones img:hover {
      transform: scale(0.8);
      cursor: pointer; }

.nosotros p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  border-style: ridge;
  border-color: #d79d59;
  border-width: 15px;
  padding: 30px;
  justify-content: space-around; }

main {
  background-color: rgba(109, 130, 63, 0.7);
  padding: 10px, 0px; }
  main h1 {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: 600;
    padding-top: 15px; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 20px; }
  .formulario .nombre, .formulario .mail, .formulario .mensaje {
    margin: 10px;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem; }

.formulario .mensaje {
  display: flex;
  flex-direction: column; }
  .formulario .mensaje label {
    padding-top: 0px;
    padding-bottom: 10px; }

.formulario .boton {
  display: flex;
  justify-content: center; }
  .formulario .boton button {
    background-color: #f2c48d;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
    color: black; }
    .formulario .boton button:hover {
      background-color: #d79d59; }

body {
  background-color: rgba(149, 166, 138, 0.5); }
