@import url("https://fonts.googleapis.com/css2? familia = Raleway: peso @ 400; 600; 700 & display=swap");
* {
  padding: 0;
  margin: 0; }

nav .barra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  nav .barra .item-1 {
    padding: 10px 0px; }

nav {
  background-color: #f2c48d;
  background: linear-gradient(to top, transparent, #f2c48d);
  padding: 10px 15px; }
  nav ul {
    list-style: none;
    display: inline-block; }
    nav ul li {
      font-size: 1rem;
      display: inline-block;
      margin-right: 20px; }
      nav ul li a {
        text-decoration: none;
        color: black;
        font-family: "Raleway", sans-serif; }
        nav ul li a:hover {
          font-weight: 600;
          color: black; }

nav header {
  width: 100%; }
  nav header img {
    height: 450px; }

@media (max-width: 576px) {
  nav header img {
    height: 300px; } }

footer {
  background-color: #f2c48d;
  text-decoration: none; }
  footer .final {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .final .footer-1 {
      padding: 15px 0px; }
      footer .final .footer-1 .pie__icon--sm {
        width: 30px;
        margin-right: 15px; }

footer .footer-2 .pie__icon--sm {
  width: 30px;
  margin-right: 15px; }

@media (max-width: 320px) {
  .final {
    display: flex;
    flex-direction: column; } }

main {
  background-color: rgba(109, 130, 63, 0.7);
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px; }
  main h1 {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: 600;
    padding-top: 15px; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .formulario .nombre, .formulario .mail, .formulario .mensaje {
    margin: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem; }

.formulario .mensaje {
  display: flex;
  flex-direction: column; }
  .formulario .mensaje label {
    padding-top: 0px;
    padding-bottom: 10px; }

.formulario .boton {
  display: flex;
  justify-content: center; }
  .formulario .boton button {
    background-color: #f2c48d;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
    color: black; }
    .formulario .boton button:hover {
      background-color: #d79d59;
      color: white; }

form {
  margin-right: 100px;
  margin-left: 100px; }

main {
  background-color: rgba(109, 130, 63, 0.7); }
  main h1 {
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center; }

main .contenedor .card {
  width: 20rem; }
  @media (max-width: 992px) {
    main .contenedor .card {
      width: 15rem; }
      main .contenedor .card h2 {
        font-size: 1rem; } }

main {
  margin-right: 0;
  margin-left: 0; }
  @media (max-width: 768px) {
    main .contenedor .card {
      width: 10rem; } }

@media (max-width: 576px) {
  main .contenedor .card {
    width: 10rem; } }

@media (max-width: 320px) {
  main .contenedor .card {
    width: 15rem;
    margin-top: 10px; } }

@media (max-width: 320px) {
  main .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center; } }

main .producto-prin {
  padding: 10px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1rem; }

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px; }

.contenedor h2 {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 10px; }

.contenedor a {
  display: flex;
  justify-content: center;
  background-color: #f2c48d;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  border: none;
  color: black; }
  .contenedor a:hover {
    background-color: #d79d59; }

@media (max-width: 992px) {
  .principal {
    margin-right: 0;
    margin-left: 0; } }

main {
  background-color: rgba(109, 130, 63, 0.7); }
  main h1 {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: 600;
    padding-top: 15px;
    padding-top: 15px;
    text-align: center; }

main p {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 10px;
  padding: 10px; }

main .promociones {
  display: flex;
  justify-content: center;
  padding: 20px; }
  main .promociones img {
    height: 500px;
    border-style: ridge;
    border-color: #d79d59;
    border-width: 20px; }
    main .promociones img:hover {
      transform: scale(0.8);
      cursor: pointer; }

@media (max-width: 992px) {
  main .promociones img {
    height: 300px;
    border: none;
    padding: auto;
    border-style: ridge;
    border-color: #d79d59;
    border-width: 10px; } }

@media (max-width: 768px) {
  main .promociones img {
    height: 300px;
    border: none;
    padding: auto; } }

@media (max-width: 576px) {
  main .promociones img {
    height: 200px;
    border: none;
    padding: auto; } }

@media (max-width: 320px) {
  main .promociones img {
    height: 120px;
    border: none;
    padding: 0; } }

@media (max-width: 320px) {
  main {
    margin-right: 0;
    margin-left: 0; } }

.nosotros p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  border-style: ridge;
  border-color: #d79d59;
  border-width: 15px;
  padding: 30px;
  justify-content: space-around;
  margin-right: 200px;
  margin-left: 200px; }

.us {
  padding-bottom: 10px; }

@media (max-width: 992px) {
  .nosotros p {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    border-style: ridge;
    border-color: #d79d59;
    border-width: 15px;
    padding: 30px;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 100px; } }

@media (max-width: 576px) {
  .nosotros p {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    padding: 30px;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 50px; } }

@media (max-width: 320px) {
  .nosotros p {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    margin: 10px;
    padding: 10px; } }

@media (max-width: 576px) {
  .us {
    margin-right: 0;
    margin-left: 0; } }

.contacto {
  background-color: #95a68a; }
  .contacto h1 {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: 600;
    padding-top: 15px; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 20px; }
  .formulario .nombre, .formulario .mail, .formulario .mensaje {
    margin: 10px;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem; }

.formulario .mensaje {
  display: flex;
  flex-direction: column; }
  .formulario .mensaje label {
    padding-top: 0px;
    padding-bottom: 10px; }

.formulario .boton {
  display: flex;
  justify-content: center; }
  .formulario .boton .enviar {
    background-color: #f2c48d;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    padding: 10px; }
    .formulario .boton .enviar:hover {
      background-color: #d79d59; }

@media (max-width: 320px) {
  .contacto {
    margin-right: 0;
    margin-left: 0; } }

@media (max-width: 320px) {
  form {
    margin-right: 0;
    margin-left: 0; } }

@media (max-width: 576px) {
  form {
    margin-right: 0;
    margin-left: 0; } }

body {
  background-color: rgba(149, 166, 138, 0.5); }

.contenedor-error .error {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  color: #6d823f; }

.contenedor-error .e404 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .contenedor-error .e404 .pageE {
    width: 25%;
    padding-top: 20px; }

.contenedor-error {
  background: radial-gradient(#f2c48d, transparent); }
  .contenedor-error .box-error {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contenedor-error .box-error .error404 {
      font-family: "Raleway", sans-serif;
      font-size: 3rem;
      font-weight: 600;
      color: #6d823f; }

.contenedor-error .e404 .box-error p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #6d823f; }

.contenedor-error .e404 .box-error .button-error {
  background-color: #f2c48d;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  padding: 10px; }
  .contenedor-error .e404 .box-error .button-error:hover {
    background-color: #d79d59; }
