body{
	background-color: $backgroundColor;
}

.contenedor-error{
	.error{
		display: flex;
		justify-content: center;
		padding-top: 20px;
		font-family: $fontMain;
		font-size: 6rem;
		font-weight: 600;
		color: rgba(109,130,63,1.0);
	}
}

.contenedor-error{
	.e404{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		.pageE{
			width: $w-25;
			padding-top: 20px;
		}
	}
}

.contenedor-error{
	background: radial-gradient(rgba(242,196,141,1.0), transparent);
	.box-error{
		display: flex;
		flex-direction: column;
		align-items: center;
		.error404{
			font-family: $fontMain;
			font-size: $textlg;
			font-weight: 600;
			color: rgba(109,130,63,1.0);
		}
	}
}

.contenedor-error{
	.e404{
		.box-error{
			p{
				padding-top: 20px;
				padding-bottom: 20px;
				font-family: $fontMain;
				font-size: $textsm;
				font-weight: 600;
				color: rgba(109,130,63,1.0);
			}
		}
	}
}

.contenedor-error{
	.e404{
		.box-error{
			.button-error{
				background-color: map-get($map:$paleta,$key:'tres');
				box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
				border: none;
				border-radius: 5px;
				color: black;
				text-decoration: none;
				padding: 10px;
				&:hover{
					background-color: map-get($map:$paleta,$key:'cuatro');
				}	
			}
		}
	}
}