main{
	background-color: $secondColor;
	padding: 10px, 0px;
	h1{
		@include titulo($textlg,$fontMain,center);
	}
}


.formulario{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
	padding: 20px;
		.nombre{
			margin: 10px;
			padding: 10px;
			font-family: $fontMain;
			font-size: $textsm;
		}
}

.formulario{
	.mail{
		@extend .nombre;
	}
}

.formulario{
	.mensaje{
		@extend .nombre;
		display: flex;
		flex-direction: column;
		label{
			padding-top: 0px;
			padding-bottom: 10px;
		}
	}
}

.formulario{
	.boton{
		display: flex;
		justify-content: center;
		button{
			background-color: map-get($map:$paleta,$key:'tres');
			box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
			border: none;
			color: black;
			&:hover{
				background-color: map-get($map:$paleta,$key:'cuatro');
			}
		}
	}
}

