@import url('https://fonts.googleapis.com/css2? familia = Raleway: peso @ 400; 600; 700 & display=swap');

$fontMain: 'Raleway', sans-serif;

$textsm: 1rem;
$textmd: 2rem;
$textlg: 3rem;
$textxl: 4rem;


