footer{
	background-color: $mainColor;
	text-decoration: none;
	.final{
		display: flex;
		justify-content: space-around;
		align-items: center;
		.footer-1{
			padding: 15px 0px;
			.pie__icon--sm{
				width: 30px;
				margin-right: 15px;
			}
		}
	}
}

footer{
	.footer-2{
		.pie__icon--sm{
				width: 30px;
				margin-right: 15px;
		}
	}
}
