header{
	.carousel-slide{
		.carousel-inner{
			.carousel-item{
				.d-block{
					width: $w-100;
					object-fit: contain;
					padding-top: 10px;
				}
			}
		}
	}
}

nav{
	background-color: $mainColor;
	background: linear-gradient(rgba(242,196,141,1.0), transparent);
	padding: 10px 10px;
	flex-direction: column;
	.container-fluid{
		display: flex;
		flex-direction: row;
		.logo{
			padding: 20px;
		}
	}
}


nav{
	.container-fluid{
		.collapse{
			justify-content: flex-end;
			.navbar-nav{
				font-family: $fontMain;
				font-size: $textsm;
				padding: 20px
			}
		}
	}
}

nav{
	.container-fluid{
		.collapse{
			.navbar-nav{
				.nav-item{
					&:hover{
						background-color: rgba(149,166,138,0.5);
						border-radius: 3px;
						font-weight: 600;
					}
				}
			}
		}
	}
}

nav{
	.container-fluid{
		.collapse{
			.navbar-nav{
				.nav-item{
					.nav-link{
						color: black;
						padding: 10px 20px;
					}
				}
			}
		}
	}
}

nav{
	.container-fluid{
		.navbar-toggler{
			span{
				color: rgba(0,0,0,1.0);
				font-size: $textmd;
				&:hover{
					background-color: rgba(149,166,138,0.5);
					padding: 10px; 	
				}
			}
		}
	}
}

