nav{
	background-color: $mainColor;
	background: linear-gradient(to top, transparent, $mainColor);
	padding: 10px 15px;
	.nav-menu{
		display: flex;
		justify-content: space-between;
		ul{
			display: flex;
			margin-right: 40px;
			list-style: none;
			align-items: center;
			li{
				.nav-link{
					color: rgba(0,0,0,1.0);
					text-decoration: none;
					font-family: $fontMain;
					font-size:$textsm;
					text-transform: uppercase;
					border-radius: 3px;
					&:hover{
						background-color: rgba(149,166,138,0.5);
					}
				}
			}
		}
	}
}

nav{
	.nav-menu{
		.logo{
			padding: 20px 40px;
		}
	}
}

nav{
	.logo{
		.toggle{
			color: rgba(0,0,0,1.0);
			background: none;
			border: none;
			font-size: 30px;
			display: none;
		}
	}
}

nav{
	header{
		width: $w-100;
		img{
			height: 450px;
		}
	}
}

nav{
	header{
		img{
			@media (max-width: 576px){
				height: 300px;
			}
		}
	}
}

nav{
	.nav-menu{
		.menu{
			@media (max-width: 576px){
				flex-direction: column;
				margin-right: 20px;
				list-style: none;
				align-items: center;
				background-color: rgba(109,130,63,1.0);
				position: auto;
				left: 0;
				top: 150px;
				width: 100%;
				.nav-link{
					&:hover{
						color: #fff;
					}
				}
			}
		}
	}
}

nav{
	.nav-menu{
		@media (max-width: 576px){
			flex-direction: column;
		}
	}
}

nav{
	.logo{
		@media (max-width: 576px){
			display: flex;
			justify-content: space-between;
		}
	}
}

nav{
	.logo{
		.toggle{
			@media (max-width: 576px){
				display: block;
			}
		}
	}
}

