
.nosotros{
	margin-bottom: 20px;
	p{
		text-align: center;
		font-family: $fontMain;
		font-size: $textmd;
		border-style: ridge;
		border-color: map-get($map:$paleta,$key:'cuatro');
		border-width: 15px;
		padding: 30px;
		justify-content: space-around;
		margin-right: 200px;
		margin-left: 200px;
	}
}
