main{
	background-color: $secondColor;
	h1{
		font-family: $fontMain;	
		font-size: $textlg;
		font-weight: 600;
		text-align: center;
	}
}

main{
	.contenedor{
		.card{
			width: 20rem;
			@media (max-width: 992px){
				width: 15rem;
				h2{
					font-size: $textsm;
				}
			}
		}
	}
}

main{
	margin-right: 0;
	margin-left: 0;
	.contenedor{
		.card{
			@media (max-width: 768px){
				width: 10rem;
			}
		}
	}
}

main{
	.contenedor{
		.card{
			@media (max-width: 576px){
				width: 10rem;
			}
		}
	}
}

main{
	.contenedor{
		.card{
			@media (max-width: 510px){
				width: 15rem;
				margin-top: 10px;
			}
		}
	}
}


main{
	.contenedor{
		@media (max-width: 510px){
			display: flex;
			flex-direction: column;
			align-items: center;		
		}
	}
}

main{
	.producto-prin{
		padding: 10px;
		text-align: center;
		font-family: $fontMain;	
		font-size: $textsm;
	}
}

.contenedor{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
}

.contenedor{
	h2{
		font-size: $textmd;
		font-family: $fontMain;
		text-align: center;
		padding: 10px;
	}
}

.contenedor{
	a{
		display: flex;
		justify-content: center;
		background-color: map-get($map:$paleta,$key:'tres');
		box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
		border: none;
		color: black;
		&:hover{
			background-color: map-get($map:$paleta,$key:'cuatro');
		}
	}
}

.principal{
	@media (max-width: 992px){
		margin-right: 0;
		margin-left: 0;
	}
}
